backcall==0.1.0
certifi==2018.4.16
chainer==4.0.0
colorama==0.3.9
cupy==4.0.0
cycler==0.10.0
decorator==4.3.0
fastrlock==0.3
filelock==3.0.4
graphviz==0.8.2
ipykernel==4.8.2
ipython==6.3.1
ipython-genutils==0.2.0
jedi==0.12.0
jupyter-client==5.2.3
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.2
pandas==0.22.0
parso==0.2.0
pickleshare==0.7.4
pip==10.0.1
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
pydotplus==2.0.2
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
pyzmq==17.0.0
scikit-learn==0.19.1
scipy==1.0.1
setuptools==39.0.1
simplegeneric==0.8.1
six==1.11.0
tornado==5.0.2
traitlets==4.3.2
wcwidth==0.1.7
wheel==0.31.0
wincertstore==0.2
